<!doctype html>
<html lang="en">
<head>
  <%- include('includes/head') %>
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>Page not found!</h1>
  <p>Unfortunately, we weren't able to find this page.</p>
</main>
</body>
</html>
