<!doctype html>
<html lang="en">
<head>
  <%- include('includes/head') %>
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>Make the world a tastier place!</h1>
  <p>
    Eatwell is a website for food enthusiasts that allows you to share and discover amazing restaurants from all
    over the world!
  </p>
  <p>You don't need to sign up or create any account - you can simply start sharing right away!</p>
</main>
</body>
</html>
