<!doctype html>
<html lang="en">
<head>
  <%- include('includes/head') %>
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>Success!</h1>
  <p>Your restaurant was successfully added to our list!</p>
</main>
</body>
</html>
