<!doctype html>
<html lang="en">
<head>
  <%- include('includes/head') %>
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>Make the world a tastier place!</h1>
  <p>Share your favorite restaurants or find recommendations of other users!</p>
  <ul id="actions">
    <li>
      <a href="/restaurants">Browse Shared Restaurants</a>
    </li>
    <li>
      <a href="/recommend">Share Your Favorite Restaurant</a>
    </li>
  </ul>
</main>
</body>
</html>
