<!doctype html>
<html lang="en">
<head>
  <%- include('includes/head') %>
  <link rel="stylesheet" href="/styles/recommend.css" />
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>Share your favorite restaurant!</h1>
  <form action="/recommend" method="post">
    <div class="form-control">
      <label for="name">Restaurant name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-control">
      <label for="address">Address</label>
      <input type="text" id="address" name="address" required />
    </div>
    <div class="form-control">
      <label for="cuisine">Type of cuisine</label>
      <input type="text" id="cuisine" name="cuisine" placeholder="e.g. Mexican" required />
    </div>
    <div class="form-control">
      <label for="website">Restaurant website</label>
      <input type="url" id="website" name="website" />
    </div>
    <div class="form-control">
      <label for="description">Why do you recommend it?</label>
      <textarea name="description" id="description" rows="5" required></textarea>
    </div>
    <button>Share Restaurant</button>
  </form>
</main>
</body>
</html>
