<!doctype html>
<html lang="en">
<head>
  <%- include('includes/head') %>
  <link rel="stylesheet" href="/styles/restaurants.css" />
</head>
<body>
<%- include('includes/header') %>
<main>
  <h1>
    <%= restaurant.name; %>
    <p><%= restaurant.cuisine; %> | <%= restaurant.address; %></p>
    <p><%= restaurant.description; %></p>
    <p><a href="<%= restaurant.website; %>">View Website</a></p>
  </h1>

</main>
</body>
</html>
